* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 0.73vw;
}

body {
    background-color: #222;
    display: flex;
    padding: 2.0rem;
    justify-content: space-between;
    height: 100vh;
}

.entradas {
    width: 40.0rem;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    padding: 2.0rem 1.5rem;
    gap: 3.0rem;
    border-radius: 1.5rem;
    background-color: #c4953f;
    align-self: center;
}

.entradas>* {
    padding: 1.0rem .5rem;
    font-size: 1.6rem;
    border-radius: 1.0rem;
    border: none;
}

#cadastrar {
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
}
.entradas input{
    border: 2px solid #444;
}
.entradas input:hover,
.entradas input:focus,
#cadastrar:hover,
#cadastrar:focus {
    outline: 2px solid #444;
    cursor: pointer;
}

#cadastrar:hover,
#cadastrar:focus {
    color: #c4953f;

}

table {
    background-color: #444;
    height: fit-content;
    text-align: center;
    vertical-align: text-top;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.0rem;
}

td,
th {
    width: 20.0rem;
    padding: .5rem 0;
    border-bottom: 1px solid #fff;
}

th {
    color: #c4953f;
}

.deleteCarBtn {
    color: red;
    width: 100%;
    height: 100%;
    background-color: #444;
    border: none;
}